In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('data.csv')
data.head()

,Unnamed: 0,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code
0,0,101,Electronics,150.99,1.0,4.50,YES
1,1,102,Books,25.00,2.0,3.00,NO
2,2,103,Groceries,5.50,5.0,5.00,NO
3,3,104,Books,40.00,1.0,4.25,YES
4,4,105,Electronics,180.50,1.0,4.00,NO

In [3]:
#drop the unnecessary 'Unnamed: 0' column
data.drop('Unnamed: 0', inplace=True, axis=1)

In [4]:
#create Total Sale Amount column
data['Total_Sale_Amount']=data['Price'] * data['Quantity']

In [5]:
data['Weighted_Rating'] = data['Customer_rating'] * data['Quantity']
#This feature combines the rating with the volume(quantity) of the transaction
#A high rating on a large quantity purchase might be more significant than a high rating on a single cheap item

In [6]:
#Creating Price Tier Bins
bins=[0, 10, 50, data['Price'].max() + 1]
labels= ['Low_Price', 'Mid_Price', 'High_Price']
data['Price_Tier'] = pd.cut(data['Price'], bins=bins, labels=labels, right=False)

#Group the continous Price column into 'Low', 'Medium', 'High' buckets 
#Low_Price:[0,10] - Price >= 0 and <1 0
#Mid_Price:[10,49] - Price >= 10 and < 49
#High_Price:[49,max] - Price >= 49 and Maximum Price in Data
#right=False means the interval is left inclusive(price is included) ansd right exclusive(upper boundary is not included)

In [7]:
data

,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code,Total_Sale_Amount,Weighted_Rating,Price_Tier
0,101,Electronics,150.99,1.0,4.50,YES,150.99,4.50,High_Price
1,102,Books,25.00,2.0,3.00,NO,50.00,6.00,Mid_Price
2,103,Groceries,5.50,5.0,5.00,NO,27.50,25.00,Low_Price
3,104,Books,40.00,1.0,4.25,YES,40.00,4.25,Mid_Price
4,105,Electronics,180.50,1.0,4.00,NO,180.50,4.00,High_Price
5,106,Groceries,6.75,3.0,4.50,NO,20.25,13.50,Low_Price
6,107,Electronics,10.00,2.0,3.50,YES,20.00,7.00,Mid_Price
7,108,Books,30.00,2.0,5.00,NO,60.00,10.00,Mid_Price
8,109,Groceries,4.99,4.0,4.25,NO,19.96,17.00,Low_Price