<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized

#Some of the popular languages that Data Scientists use are
1.Python
2.R Language
3.SQL

#Some of the commonly used libraries used by Data Scientists include
1.Pandas
2.Numpy
3.TensorFlow

#Data Science Tools
| Apache Spark | Apache Atlas | TensorFlow Lite |

###Below are a few examples of evaluating arithmetic expressions in Pyhton

This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

List objectives
objectives:
-Python
-R Languages
-Java

Author
Lawrence Mbura