In [1]:
import pandas as pd
import numpy as np

In [2]:
#Let's create a dataFrame
data={
    'Transaction_ID': [101,102,103,104,105,106,107,108,109,110],
    'Product_Category': ['Electronics','Books','Groceries','Books','Electronics','Groceries',
    'Electronics','Books','Groceries','Electronics'],
    'Price': [150.99,'25.00',5.50,40.00,180.50,6.75,10.00,30.00,4.99,1950.00],
    'Quantity':[1,2,5,1,1,3,np.nan,2,4,1],
    'Customer_rating':[4.5,3.0,5.0,np.nan,4.0,4.5,3.5,5.0,np.nan,4.0],
    'Discount_Code': ['YES','NO','NO','YES','NO','NO','YES','NO',np.nan,'NO']
}

dirty_data=pd.DataFrame(data)

In [3]:
dirty_data

,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code
0,101,Electronics,150.99,1.0,4.5,YES
1,102,Books,25.00,2.0,3.0,NO
2,103,Groceries,5.5,5.0,5.0,NO
3,104,Books,40.0,1.0,NaN,YES
4,105,Electronics,180.5,1.0,4.0,NO
5,106,Groceries,6.75,3.0,4.5,NO
6,107,Electronics,10.0,NaN,3.5,YES
7,108,Books,30.0,2.0,5.0,NO
8,109,Groceries,4.99,4.0,NaN,NaN
9,110,Electronics,1950.0,1.0,4.0,NO

In [4]:
dirty_data.isnull().sum() #It displays the sum of missing values in each column

Transaction_ID      0
Product_Category    0
Price               0
Quantity            1
Customer_rating     2
Discount_Code       1
dtype: int64

In [5]:
#Missing values are handled by filling with mean, mode, median or even dropping the them
#In our case we will fill the missing values with median and mode
dirty_data['Quantity']=dirty_data['Quantity'].fillna(dirty_data['Quantity'].median())
dirty_data['Customer_rating']=dirty_data['Customer_rating'].fillna(dirty_data['Customer_rating'].median())
dirty_data['Discount_Code']=dirty_data['Discount_Code'].fillna(dirty_data['Discount_Code'].mode()[0])

In [6]:
dirty_data.isnull().sum() #checking if there's still missing values after filling them

Transaction_ID      0
Product_Category    0
Price               0
Quantity            0
Customer_rating     0
Discount_Code       0
dtype: int64

In [7]:
dirty_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10 non-null     int64
 1   Product_Category  10 non-null     object
 2   Price             10 non-null     object
 3   Quantity          10 non-null     float64
 4   Customer_rating   10 non-null     float64
 5   Discount_Code     10 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 612.0+ bytes

In [8]:
#Changing the column datatype to float64 since it was still an object dtype
dirty_data['Price']=dirty_data['Price'].astype(float)

In [9]:
dirty_data['Discount_Code']=dirty_data['Discount_Code'].astype(str)

In [10]:
dirty_data['Discount_Code']

0    YES
1     NO
2     NO
3    YES
4     NO
5     NO
6    YES
7     NO
8     NO
9     NO
Name: Discount_Code, dtype: object

In [11]:
#Checking the cleaned dataset
cleaned_data=dirty_data
cleaned_data

,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code
0,101,Electronics,150.99,1.0,4.50,YES
1,102,Books,25.00,2.0,3.00,NO
2,103,Groceries,5.50,5.0,5.00,NO
3,104,Books,40.00,1.0,4.25,YES
4,105,Electronics,180.50,1.0,4.00,NO
5,106,Groceries,6.75,3.0,4.50,NO
6,107,Electronics,10.00,2.0,3.50,YES
7,108,Books,30.00,2.0,5.00,NO
8,109,Groceries,4.99,4.0,4.25,NO
9,110,Electronics,1950.00,1.0,4.00,NO

HANDLING THE OUTLIER IN PRICE COLUMN

In [12]:
#Step1: Calculate Quarntiles and IOR
Q1 = cleaned_data['Price'].quantile(0.25)
Q3 = cleaned_data['Price'].quantile(0.75)
IOR=Q3 - Q1

In [13]:
#Step2: Define Boundaries
lower_bound=Q1 - 1.5*IOR
upper_bound=Q3 + 1.5*IOR

In [14]:
#Step3: Filter the Data
cleaned_data_outlier=cleaned_data[(cleaned_data['Price']>=lower_bound) & (cleaned_data['Price']<=upper_bound)]
cleaned_data_outlier

,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code
0,101,Electronics,150.99,1.0,4.50,YES
1,102,Books,25.00,2.0,3.00,NO
2,103,Groceries,5.50,5.0,5.00,NO
3,104,Books,40.00,1.0,4.25,YES
4,105,Electronics,180.50,1.0,4.00,NO
5,106,Groceries,6.75,3.0,4.50,NO
6,107,Electronics,10.00,2.0,3.50,YES
7,108,Books,30.00,2.0,5.00,NO
8,109,Groceries,4.99,4.0,4.25,NO