In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('data.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)
data.head()

,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code,Total_Sale_Amount,Weighted_Rating,Price_Tier
0,101,Electronics,150.99,1.0,4.50,YES,150.99,4.50,High_Price
1,102,Books,25.00,2.0,3.00,NO,50.00,6.00,Mid_Price
2,103,Groceries,5.50,5.0,5.00,NO,27.50,25.00,Low_Price
3,104,Books,40.00,1.0,4.25,YES,40.00,4.25,Mid_Price
4,105,Electronics,180.50,1.0,4.00,NO,180.50,4.00,High_Price

In [3]:
data.head()

,Transaction_ID,Product_Category,Price,Quantity,Customer_rating,Discount_Code,Total_Sale_Amount,Weighted_Rating,Price_Tier
0,101,Electronics,150.99,1.0,4.50,YES,150.99,4.50,High_Price
1,102,Books,25.00,2.0,3.00,NO,50.00,6.00,Mid_Price
2,103,Groceries,5.50,5.0,5.00,NO,27.50,25.00,Low_Price
3,104,Books,40.00,1.0,4.25,YES,40.00,4.25,Mid_Price
4,105,Electronics,180.50,1.0,4.00,NO,180.50,4.00,High_Price

In [4]:
#Minimum price of an item in the dataset
data['Price'].min()

np.float64(4.99)

In [5]:
#Maximum price of an item in the dataset
data['Price'].max()

np.float64(180.5)

In [6]:
#Total number of transactions done
data['Transaction_ID'].count()

np.int64(9)

In [7]:
#mean price of all items sold to 2 dp
data['Price'].mean().round(2)

np.float64(50.41)

In [8]:
#Total sum of items sold
data['Total_Sale_Amount'].sum()

np.float64(569.2)

In [9]:
#Total number of items sold
data['Quantity'].sum()

np.float64(21.0)

In [10]:
#Mean rating of items to 2dp
data['Customer_rating'].mean().round(2)

np.float64(4.22)

In [11]:
#Number of counts for product sold
data['Product_Category'].value_counts()

Product_Category
Electronics    3
Books          3
Groceries      3
Name: count, dtype: int64

In [12]:
#Number of times discount was awarded
data['Discount_Code'].value_counts()

Discount_Code
NO     6
YES    3
Name: count, dtype: int64

In [13]:
#Total amount generated from the data
data['Total_Sale_Amount'].sum()

np.float64(569.2)

In [14]:
#Total sum of items based on their product category
data.groupby('Product_Category')['Price'].sum()

Product_Category
Books           95.00
Electronics    341.49
Groceries       17.24
Name: Price, dtype: float64

In [15]:
#Average mean price of each product
data.groupby('Product_Category')['Price'].mean()

Product_Category
Books           31.666667
Electronics    113.830000
Groceries        5.746667
Name: Price, dtype: float64

In [16]:
#Mean rating of product category
data.groupby('Product_Category')['Customer_rating'].mean().round(2)

Product_Category
Books          4.08
Electronics    4.00
Groceries      4.58
Name: Customer_rating, dtype: float64

In [17]:
#Total sum of quantity of product category sold
data.groupby('Product_Category')['Quantity'].sum()

Product_Category
Books           5.0
Electronics     4.0
Groceries      12.0
Name: Quantity, dtype: float64